h1, h2, p, footer {
    text-align: center;
}

body {
    background-color: rgb(245, 224, 108);
    background-image: url(https://i.pinimg.com/736x/15/50/62/155062093e8eb3ab5f7ddef62c20ea72.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
    width: 80%;
    background-color: rgb(242, 247, 219);
    margin: 0 auto;
    border-radius: 10px; /* Helps make the corners not sharp*/
    padding: 10px; /* Helps make the corners not sharp*/
}

h1 {
    color: rgb(143, 42, 42);
}

.menu-item {
    font-weight: bold;
}

.price {
    font-style: italic;
}
