h1, h2, p, footer{
    text-align: center;
}
body {
    background-color: rgb(245, 224, 108);
    background-image: url(https://static.wikia.nocookie.net/spongebob/images/a/af/The_Krusty_Krab_in_TPSS.png/revision/latest/scale-to-width/360?cb=20230531052600); 
}

#menu {
    width: 80%;
    background-color: rgb(242, 247, 219);
    margin-left: auto;
    margin-right: auto;
}